body {
    background-image: url("https://unsplash.com/photos/zHsTwzb-nH4");
    text-align: center;
    /* background-color: thistle; */
}

.container-md {
    background-color: #B0EFEF;
    margin-top: 80px;
    padding: 80px 20px;
    border: solid 20px #343a40;
}

li {
    list-style: none;
    margin: 5px;
}

#countDown {
    color: rgb(49, 66, 221);
}